.img{
    background-image:url("https://i.ibb.co/1ZhWMtj/Screenshot-2023-11-24-141837.png");
    width: full;
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    background-image:url("https://i.ibb.co/JKyYD14/Screenshot-2023-11-27-004740.png");
    width: full;
    background-repeat: no-repeat;
    background-size: cover;
}